<div class="container">
<h1>Here is your current project</h1>

<%= @project.title %>
<br>
<%= @project.description %>
<br>
<%= @project.due_date %>
<br>
<% @project.member_users.each do |x| %>
	<%= x.email %>
<% end %>
<br>

<%# link to edit the project %>
<%= link_to "Edit", edit_project_path(@project) %>
<br>
<%= button_to "Delete", project_path(@project), method: :delete, data: {confirm: "Are you sure you want to delete this project?"} %>

<br>

<%# form to create a task %>
<%= form_for @task, url: project_tasks_path(@project) do |f| %>
	<%= f.text_field :title, placeholder: "Your Task Here" %>
	<%= f.date_select :due_date %>
	<%= f.submit "Create Task" %>
<% end %>



<%# Add a list of incompletetasks related to this project %>
<table class="table">
	<tr>
		<th>Task</th>
		<th>Due Date</th>
		<th>View Details and Discussions</th>
		<th>Status</th>
	</tr>
	<% @incomplete_tasks.each do |task| %>
	<tr>
		<td><%= task.title %></td>
		<td><%= task.due_date %></td>
		<td>Insert A Link Here</td>

		<%# change status from complete to incomplete %>
		<td>
				<%= link_to "Mark As Complete", project_task_path(@project, task, task: {status: "complete"}), method: :patch %> 
		</td>
	</tr>
	<% end %>
</table>


<%# Add a list of completed tasks related to this project %>
<table class="table">
	<tr>
		<th>Task</th>
		<th>Due Date</th>
		<th>View Details and Discussions</th>
		<th>Status</th>
	</tr>
	<% @completed_tasks.each do |task| %>
	<tr>
		<td><%= task.title %></td>
		<td><%= task.due_date %></td>
		<td>
			<%= link_to "View Task Details & Discussions", [@project, task] %>
		</td>

		<%# change status from complete to incomplete %>
		<td>
				<%= link_to "Mark As Incomplete", project_task_path(@project, task, task: {status: "incomplete"}), method: :patch %> 
		</td>
	</tr>
	<% end %>
</table>


<%# add a form to add a new discussion to this project %>
<%= form_for @discussion, url: project_discussions_path(@project) do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<br>
	<%= f.label :description %>
	<%= f.text_area :description %>
	<br>
	<%= f.submit "Submit Discussion" %>
<% end %>


<%# add a section to view the discussions on this project %>
<% @discussions.each do |d| %>
	<%= d.title %>
	<br>
	<%= d.description %>
	<br>
	<%= link_to "View Discussion", project_discussion_path(@project, d) %>
	<br>
	<%= button_to "Delete", project_discussion_path(@project, d), method: :delete, data: { confirm: "Are you sure you want to delete this discussion?" } %>
	<br>
	<%= link_to "Edit Discussion", edit_project_discussion_path(@project, d) %>
	<hr>
<% end %>
</div>

<div>
	<% @users.each do |user| %>
		<%= user.email %>
		<%= link_to "Add Member", project_members_path(@project, member: {user_id: user.id}), method: :post %>
		<hr>
	<% end %>
</div>



